include includes/layout

block content
  h4 Welcome to #{title}

  .row 
    .col(class=col-md-4)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui asperiores quisquam, quod in id placeat reiciendis expedita, fuga dolorum sapiente debitis, nihil corporis labore nisi non enim incidunt? Iure!
    .col(class=col-md-4)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem repellat nam vero consectetur explicabo quasi modi. Quae sint accusantium, assumenda ipsa voluptatum illum veritatis esse voluptates temporibus distinctio porro?
  .row 
    .col(class=col-md-4)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui asperiores quisquam, quod in id placeat reiciendis expedita, fuga dolorum sapiente debitis, nihil corporis labore nisi non enim incidunt? Iure!
    .col(class=col-md-4)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem repellat nam vero consectetur explicabo quasi modi. Quae sint accusantium, assumenda ipsa voluptatum illum veritatis esse voluptates temporibus distinctio porro?

